{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
{% if kategorija %}
     
{% for a in aukcije %}
	{% if a.aktivna %}
	<div class="col-sm-3">
<div class="card" style="width: auto; height: 650px; margin-top: 30px;">
	{% with a.slika_set.all|first as img %}
  <img src="{{ img.slika.url }}" class="card-img-top" alt="..." style="max-height: 300px;">
  {% endwith %} 
  <div class="card-body">
    <h5 class="card-title">{{a.nazivpredmeta}}</h5>
    <p class="card-text">Aukcija istice: {{a.datumisteka|date:'d/m/Y H:i'}}</p>
    <p class="card-text">Aktuelna ponuda: {{a.aktuelnaponuda}} din</p>
	{% if a.kupiodmah %}
	<p class="card-text">Kupi odmah: {{a.kupiodmahcena}} din</p>
	{% endif %}
	<p class="card-text">Prodavac: <a href="{% url 'prikaz_korisnika' a.idprodavca.pk %}">{{a.idprodavca}}</a></p>
    <a href="{% url 'auction-details' a.idaukcije %}" class="btn btn-primary">Detaljnije</a>
  </div>
</div>
</div>
	{% endif %}
{% endfor %}
{% else %}
{% for a in aukcijeAll %}
	{% if a.aktivna %}
	<div class="col-sm-3">
<div class="card" style="width: auto; height: 650px; margin-top: 30px;">
	{% with a.slika_set.all|first as img %}
  <img src="{{ img.slika.url }}" class="card-img-top" alt="..." style="max-height: 300px;">
  {% endwith %} 
  <div class="card-body">
    <h5 class="card-title">{{a.nazivpredmeta}}</h5>
    <p class="card-text">Aukcija istice: {{a.datumisteka|date:'d/m/Y H:i'}}</p>
    <p class="card-text">Aktuelna ponuda: {{a.aktuelnaponuda}} din</p>
	{% if a.kupiodmah %}
	<p class="card-text">Kupi odmah: {{a.kupiodmahcena}} din</p>
	{% endif %}
	<p class="card-text">Prodavac: <a href="{% url 'prikaz_korisnika' a.idprodavca.pk %}">{{a.idprodavca}}</a></p>
    <a href="{% url 'auction-details' a.idaukcije %}" class="btn btn-primary">Detaljnije</a>
  </div>
</div>
</div>
	{% endif %}
{% endfor %}
{% endif %}
</div>

</div>


{% endblock %}